[project]
	description = Titan compilation and execution environment
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group Eclipse Titan
	owner = group user/ethgasz
[access "refs/for/refs/*"]
	read = group Eclipse Titan
	read = group user/ethgasz
	push = group Eclipse Titan
	push = group user/ethgasz
	label-Code-Review = -2..+2 group Eclipse Titan
	label-Code-Review = -2..+2 group user/ethgasz
	label-Verified = -1..+1 group Eclipse Titan
	label-Verified = -1..+1 group user/ethgasz
	rebase = group Eclipse Titan
	rebase = group user/ethgasz
	removeReviewer = group Eclipse Titan
	removeReviewer = group user/ethgasz
	submit = group Eclipse Titan
	submit = group user/ethgasz
[access "refs/heads/*"]
	read = group Eclipse Titan
	read = group user/ethgasz
	create = group Eclipse Titan
	create = group user/ethgasz
	push = group Eclipse Titan
	push = +force group user/ethgasz
	pushMerge = group Eclipse Titan
	pushMerge = group user/ethgasz
[access "refs/tags/*"]
	push = group Eclipse Titan
	push = +force group user/ethgasz
	pushTag = group Eclipse Titan
	pushTag = group user/ethgasz
	pushSignedTag = group Eclipse Titan
	pushSignedTag = group user/ethgasz
